.btn {
    display: block;
    border: 4px solid black;
    border-radius: 10px;
    color: #fff;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    font-size: 45px;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background: rgb(232,95,76);
}

.btn:active {
    background: rgb(152,15,0);
}